Repository Caevisus/mybodyradar-test-e125zx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repo-admins, @backend-team, @security-team, @sensor-team, @analytics-team, @monitoring-team, @frontend-team, @mobile-team, @ios-experts, @android-experts, @devops-team, @qa-team

Add public-samples/mybodyradar-test-e125zx/src/android/app/src/main/res/values/themes.xml
  src/android/app/src/main/res/values/themes.xml
Owners: @mobile-team, @android-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/android/app/src/test/kotlin/com/smartapparel/app/ExampleUnitTest.kt
  src/android/app/src/test/kotlin/com/smartapparel/app/ExampleUnitTest.kt
Owners: @mobile-team, @android-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/android/app/src/test/kotlin/com/smartapparel/app/data/repository/SensorRepositoryTest.kt
  src/android/app/src/test/kotlin/com/smartapparel/app/data/repository/SensorRepositoryTest.kt
Owners: @mobile-team, @android-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/android/app/src/test/kotlin/com/smartapparel/app/domain/usecases/SensorUseCasesTest.kt
  src/android/app/src/test/kotlin/com/smartapparel/app/domain/usecases/SensorUseCasesTest.kt
Owners: @mobile-team, @android-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/android/app/src/test/kotlin/com/smartapparel/app/presentation/dashboard/DashboardViewModelTest.kt
  src/android/app/src/test/kotlin/com/smartapparel/app/presentation/dashboard/DashboardViewModelTest.kt
Owners: @mobile-team, @android-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/android/app/src/test/kotlin/com/smartapparel/app/presentation/session/SessionViewModelTest.kt
  src/android/app/src/test/kotlin/com/smartapparel/app/presentation/session/SessionViewModelTest.kt
Owners: @mobile-team, @android-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/android/app/src/test/kotlin/com/smartapparel/app/services/BluetoothServiceTest.kt
  src/android/app/src/test/kotlin/com/smartapparel/app/services/BluetoothServiceTest.kt
Owners: @mobile-team, @android-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/android/app/src/test/kotlin/com/smartapparel/app/services/SensorServiceTest.kt
  src/android/app/src/test/kotlin/com/smartapparel/app/services/SensorServiceTest.kt
Owners: @mobile-team, @android-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/README.md
  src/backend/README.md
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/package.json
  src/backend/package.json
Owners: @security-team, @devops-team

Add public-samples/mybodyradar-test-e125zx/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/app.ts
  src/backend/src/app.ts
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/server.ts
  src/backend/src/server.ts
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/api/graphql/directives/auth.directive.ts
  src/backend/src/api/graphql/directives/auth.directive.ts
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/api/graphql/resolvers/alert.resolver.ts
  src/backend/src/api/graphql/resolvers/alert.resolver.ts
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/api/graphql/resolvers/athlete.resolver.ts
  src/backend/src/api/graphql/resolvers/athlete.resolver.ts
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/api/graphql/resolvers/index.ts
  src/backend/src/api/graphql/resolvers/index.ts
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/api/graphql/resolvers/sensor.resolver.ts
  src/backend/src/api/graphql/resolvers/sensor.resolver.ts
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/api/graphql/resolvers/session.resolver.ts
  src/backend/src/api/graphql/resolvers/session.resolver.ts
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/api/graphql/resolvers/team.resolver.ts
  src/backend/src/api/graphql/resolvers/team.resolver.ts
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/api/graphql/schema/alert.schema.ts
  src/backend/src/api/graphql/schema/alert.schema.ts
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/api/graphql/schema/athlete.schema.ts
  src/backend/src/api/graphql/schema/athlete.schema.ts
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/api/graphql/schema/index.ts
  src/backend/src/api/graphql/schema/index.ts
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/api/graphql/schema/sensor.schema.ts
  src/backend/src/api/graphql/schema/sensor.schema.ts
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/api/graphql/schema/session.schema.ts
  src/backend/src/api/graphql/schema/session.schema.ts
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/api/graphql/schema/team.schema.ts
  src/backend/src/api/graphql/schema/team.schema.ts
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/api/rest/controllers/alert.controller.ts
  src/backend/src/api/rest/controllers/alert.controller.ts
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/api/rest/controllers/athlete.controller.ts
  src/backend/src/api/rest/controllers/athlete.controller.ts
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/api/rest/controllers/auth.controller.ts
  src/backend/src/api/rest/controllers/auth.controller.ts
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/api/rest/controllers/health.controller.ts
  src/backend/src/api/rest/controllers/health.controller.ts
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/api/rest/controllers/sensor.controller.ts
  src/backend/src/api/rest/controllers/sensor.controller.ts
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/api/rest/controllers/session.controller.ts
  src/backend/src/api/rest/controllers/session.controller.ts
Owners: @backend-team, @security-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repository unless a later match takes precedence
* @repo-admins

# Backend service ownership
src/backend/ @backend-team @security-team
src/backend/src/services/sensor/ @sensor-team @backend-team @security-team
src/backend/src/services/analytics/ @analytics-team @backend-team @security-team
src/backend/src/services/alert/ @monitoring-team @backend-team @security-team
src/backend/src/services/auth/ @security-team @backend-team

# Frontend application ownership
src/web/ @frontend-team @security-team

# Mobile application ownership
src/ios/ @mobile-team @ios-experts @security-team
src/android/ @mobile-team @android-experts @security-team

# Infrastructure and deployment
infrastructure/ @devops-team @security-team
.github/workflows/ @devops-team @security-team
config/ @devops-team @security-team

# Test files
*.test.ts @qa-team @security-team

# Package dependencies
package.json @security-team @devops-team

# Security documentation
docs/security/ @security-team
