Repository Caevisus/mybodyradar-test-e125zx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repo-admins, @backend-team, @security-team, @sensor-team, @analytics-team, @monitoring-team, @frontend-team, @mobile-team, @ios-experts, @android-experts, @devops-team, @qa-team

Add public-samples/mybodyradar-test-e125zx/src/ios/SmartApparel/Sources/Views/Common/ChartView.swift
  src/ios/SmartApparel/Sources/Views/Common/ChartView.swift
Owners: @mobile-team, @ios-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/ios/SmartApparel/Sources/Views/Common/HeatMapView.swift
  src/ios/SmartApparel/Sources/Views/Common/HeatMapView.swift
Owners: @mobile-team, @ios-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/ios/SmartApparel/Sources/Views/Common/LoadingView.swift
  src/ios/SmartApparel/Sources/Views/Common/LoadingView.swift
Owners: @mobile-team, @ios-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/ios/SmartApparel/Sources/Views/Dashboard/DashboardViewController.swift
  src/ios/SmartApparel/Sources/Views/Dashboard/DashboardViewController.swift
Owners: @mobile-team, @ios-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/ios/SmartApparel/Sources/Views/Dashboard/MetricsView.swift
  src/ios/SmartApparel/Sources/Views/Dashboard/MetricsView.swift
Owners: @mobile-team, @ios-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/ios/SmartApparel/Sources/Views/Profile/ProfileViewController.swift
  src/ios/SmartApparel/Sources/Views/Profile/ProfileViewController.swift
Owners: @mobile-team, @ios-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/ios/SmartApparel/Sources/Views/Session/SensorStatusView.swift
  src/ios/SmartApparel/Sources/Views/Session/SensorStatusView.swift
Owners: @mobile-team, @ios-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/ios/SmartApparel/Sources/Views/Session/SessionViewController.swift
  src/ios/SmartApparel/Sources/Views/Session/SessionViewController.swift
Owners: @mobile-team, @ios-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/ios/SmartApparel/Sources/Views/Settings/SettingsViewController.swift
  src/ios/SmartApparel/Sources/Views/Settings/SettingsViewController.swift
Owners: @mobile-team, @ios-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/ios/SmartApparel/Sources/Views/Team/AthleteCell.swift
  src/ios/SmartApparel/Sources/Views/Team/AthleteCell.swift
Owners: @mobile-team, @ios-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/ios/SmartApparel/Sources/Views/Team/TeamViewController.swift
  src/ios/SmartApparel/Sources/Views/Team/TeamViewController.swift
Owners: @mobile-team, @ios-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/ios/SmartApparel/Tests/Integration/Networking/APIClientTests.swift
  src/ios/SmartApparel/Tests/Integration/Networking/APIClientTests.swift
Owners: @mobile-team, @ios-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/ios/SmartApparel/Tests/Integration/Services/AuthenticationServiceTests.swift
  src/ios/SmartApparel/Tests/Integration/Services/AuthenticationServiceTests.swift
Owners: @mobile-team, @ios-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/ios/SmartApparel/Tests/Mocks/MockAPIClient.swift
  src/ios/SmartApparel/Tests/Mocks/MockAPIClient.swift
Owners: @mobile-team, @ios-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/ios/SmartApparel/Tests/Mocks/MockBluetoothManager.swift
  src/ios/SmartApparel/Tests/Mocks/MockBluetoothManager.swift
Owners: @mobile-team, @ios-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/ios/SmartApparel/Tests/Mocks/MockSensorDataProcessor.swift
  src/ios/SmartApparel/Tests/Mocks/MockSensorDataProcessor.swift
Owners: @mobile-team, @ios-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/ios/SmartApparel/Tests/UI/Views/DashboardViewControllerTests.swift
  src/ios/SmartApparel/Tests/UI/Views/DashboardViewControllerTests.swift
Owners: @mobile-team, @ios-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/ios/SmartApparel/Tests/UI/Views/SessionViewControllerTests.swift
  src/ios/SmartApparel/Tests/UI/Views/SessionViewControllerTests.swift
Owners: @mobile-team, @ios-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/ios/SmartApparel/Tests/Unit/Services/BluetoothManagerTests.swift
  src/ios/SmartApparel/Tests/Unit/Services/BluetoothManagerTests.swift
Owners: @mobile-team, @ios-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/ios/SmartApparel/Tests/Unit/Services/SensorDataProcessorTests.swift
  src/ios/SmartApparel/Tests/Unit/Services/SensorDataProcessorTests.swift
Owners: @mobile-team, @ios-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/ios/SmartApparel/Tests/Unit/ViewModels/DashboardViewModelTests.swift
  src/ios/SmartApparel/Tests/Unit/ViewModels/DashboardViewModelTests.swift
Owners: @mobile-team, @ios-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/ios/SmartApparel/Tests/Unit/ViewModels/SessionViewModelTests.swift
  src/ios/SmartApparel/Tests/Unit/ViewModels/SessionViewModelTests.swift
Owners: @mobile-team, @ios-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/web/.dockerignore
  src/web/.dockerignore
Owners: @frontend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/web/Dockerfile
  src/web/Dockerfile
Owners: @frontend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/web/README.md
  src/web/README.md
Owners: @frontend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/web/docker-compose.yml
  src/web/docker-compose.yml
Owners: @frontend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/web/index.html
  src/web/index.html
Owners: @frontend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @frontend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/web/package.json
  src/web/package.json
Owners: @security-team, @devops-team

Add public-samples/mybodyradar-test-e125zx/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @frontend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @frontend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/web/src/main.tsx
  src/web/src/main.tsx
Owners: @frontend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @frontend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/web/src/assets/fonts/index.ts
  src/web/src/assets/fonts/index.ts
Owners: @frontend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/web/src/assets/icons/index.ts
  src/web/src/assets/icons/index.ts
Owners: @frontend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/web/src/assets/images/index.ts
  src/web/src/assets/images/index.ts
Owners: @frontend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/web/src/components/alerts/AlertCard.tsx
  src/web/src/components/alerts/AlertCard.tsx
Owners: @frontend-team, @security-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repository unless a later match takes precedence
* @repo-admins

# Backend service ownership
src/backend/ @backend-team @security-team
src/backend/src/services/sensor/ @sensor-team @backend-team @security-team
src/backend/src/services/analytics/ @analytics-team @backend-team @security-team
src/backend/src/services/alert/ @monitoring-team @backend-team @security-team
src/backend/src/services/auth/ @security-team @backend-team

# Frontend application ownership
src/web/ @frontend-team @security-team

# Mobile application ownership
src/ios/ @mobile-team @ios-experts @security-team
src/android/ @mobile-team @android-experts @security-team

# Infrastructure and deployment
infrastructure/ @devops-team @security-team
.github/workflows/ @devops-team @security-team
config/ @devops-team @security-team

# Test files
*.test.ts @qa-team @security-team

# Package dependencies
package.json @security-team @devops-team

# Security documentation
docs/security/ @security-team
