Repository Caevisus/mybodyradar-test-e125zx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repo-admins, @backend-team, @security-team, @sensor-team, @analytics-team, @monitoring-team, @frontend-team, @mobile-team, @ios-experts, @android-experts, @devops-team, @qa-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repository unless a later match takes precedence
* @repo-admins

# Backend service ownership
src/backend/ @backend-team @security-team
src/backend/src/services/sensor/ @sensor-team @backend-team @security-team
src/backend/src/services/analytics/ @analytics-team @backend-team @security-team
src/backend/src/services/alert/ @monitoring-team @backend-team @security-team
src/backend/src/services/auth/ @security-team @backend-team

# Frontend application ownership
src/web/ @frontend-team @security-team

# Mobile application ownership
src/ios/ @mobile-team @ios-experts @security-team
src/android/ @mobile-team @android-experts @security-team

# Infrastructure and deployment
infrastructure/ @devops-team @security-team
.github/workflows/ @devops-team @security-team
config/ @devops-team @security-team

# Test files
*.test.ts @qa-team @security-team

# Package dependencies
package.json @security-team @devops-team

# Security documentation
docs/security/ @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/interfaces/session.interface.ts
  src/backend/src/interfaces/session.interface.ts
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/interfaces/team.interface.ts
  src/backend/src/interfaces/team.interface.ts
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/services/alert/alert.service.ts
  src/backend/src/services/alert/alert.service.ts
Owners: @monitoring-team, @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/services/alert/processors/anomaly.detector.ts
  src/backend/src/services/alert/processors/anomaly.detector.ts
Owners: @monitoring-team, @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/services/alert/processors/threshold.analyzer.ts
  src/backend/src/services/alert/processors/threshold.analyzer.ts
Owners: @monitoring-team, @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/services/analytics/biomechanics.analyzer.ts
  src/backend/src/services/analytics/biomechanics.analyzer.ts
Owners: @analytics-team, @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/services/analytics/heatmap.generator.ts
  src/backend/src/services/analytics/heatmap.generator.ts
Owners: @analytics-team, @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/services/analytics/performance.analyzer.ts
  src/backend/src/services/analytics/performance.analyzer.ts
Owners: @analytics-team, @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/services/auth/auth.service.ts
  src/backend/src/services/auth/auth.service.ts
Owners: @security-team, @backend-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/services/auth/jwt.service.ts
  src/backend/src/services/auth/jwt.service.ts
Owners: @security-team, @backend-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/services/auth/oauth.service.ts
  src/backend/src/services/auth/oauth.service.ts
Owners: @security-team, @backend-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/services/sensor/calibration.service.ts
  src/backend/src/services/sensor/calibration.service.ts
Owners: @sensor-team, @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/services/sensor/data.processor.ts
  src/backend/src/services/sensor/data.processor.ts
Owners: @sensor-team, @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/services/sensor/stream.processor.ts
  src/backend/src/services/sensor/stream.processor.ts
Owners: @sensor-team, @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/services/session/session.manager.ts
  src/backend/src/services/session/session.manager.ts
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/services/session/session.processor.ts
  src/backend/src/services/session/session.processor.ts
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/services/team/team.service.ts
  src/backend/src/services/team/team.service.ts
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/utils/encryption.util.ts
  src/backend/src/utils/encryption.util.ts
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/utils/logger.util.ts
  src/backend/src/utils/logger.util.ts
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/utils/validation.util.ts
  src/backend/src/utils/validation.util.ts
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/workers/alert.worker.ts
  src/backend/src/workers/alert.worker.ts
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/workers/analytics.worker.ts
  src/backend/src/workers/analytics.worker.ts
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/src/workers/sensor.worker.ts
  src/backend/src/workers/sensor.worker.ts
Owners: @backend-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/tests/integration/api/graphql/athlete.test.ts
  src/backend/tests/integration/api/graphql/athlete.test.ts
Owners: @qa-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/tests/integration/api/graphql/sensor.test.ts
  src/backend/tests/integration/api/graphql/sensor.test.ts
Owners: @qa-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/tests/integration/api/rest/auth.test.ts
  src/backend/tests/integration/api/rest/auth.test.ts
Owners: @qa-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/tests/integration/api/rest/sensor.test.ts
  src/backend/tests/integration/api/rest/sensor.test.ts
Owners: @qa-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/tests/integration/services/alert.test.ts
  src/backend/tests/integration/services/alert.test.ts
Owners: @qa-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/tests/integration/services/analytics.test.ts
  src/backend/tests/integration/services/analytics.test.ts
Owners: @qa-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/tests/unit/services/alert/anomaly.detector.test.ts
  src/backend/tests/unit/services/alert/anomaly.detector.test.ts
Owners: @qa-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/tests/unit/services/analytics/biomechanics.test.ts
  src/backend/tests/unit/services/analytics/biomechanics.test.ts
Owners: @qa-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/tests/unit/services/sensor/calibration.test.ts
  src/backend/tests/unit/services/sensor/calibration.test.ts
Owners: @qa-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/backend/tests/unit/utils/encryption.test.ts
  src/backend/tests/unit/utils/encryption.test.ts
Owners: @qa-team, @security-team

Add public-samples/mybodyradar-test-e125zx/src/ios/.gitignore
  src/ios/.gitignore
Owners: @mobile-team, @ios-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/ios/.swiftlint.yml
  src/ios/.swiftlint.yml
Owners: @mobile-team, @ios-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/ios/Gemfile
  src/ios/Gemfile
Owners: @mobile-team, @ios-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/ios/README.md
  src/ios/README.md
Owners: @mobile-team, @ios-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/ios/SmartApparel/AppDelegate.swift
  src/ios/SmartApparel/AppDelegate.swift
Owners: @mobile-team, @ios-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/ios/SmartApparel/Info.plist
  src/ios/SmartApparel/Info.plist
Owners: @mobile-team, @ios-experts, @security-team

Add public-samples/mybodyradar-test-e125zx/src/ios/SmartApparel/SceneDelegate.swift
  src/ios/SmartApparel/SceneDelegate.swift
Owners: @mobile-team, @ios-experts, @security-team
